@media (min-width: 320px) and (max-width: 575.99px) {
  .heading {
    font-size: 35px;
    line-height: 35px;
  }
  .title {
    font-size: 14px;
    line-height: 24px;
  }

  /* =====================navbar start===================== */
  .navbar-nav {
    background: #2e2462e2;
    padding: 0 12px;
  }
  /* =====================navbar end===================== */
  /*======================== banner start ========================*/
  .banner_container h1 {
    width: auto;
    padding-bottom: 4px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
    text-align: center;
  }
  .banner_container p {
    width: auto;
    padding: 20px 0;
    margin: 0 auto;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
  }
  .banner_container {
    max-width: 1340px;
    padding: 130px 12px 75px;
    margin: 0 auto;
    text-align: center;
  }
  .banner_container a {
    display: inline-block;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    color: #ffffff;
    background-color: #6a4df4;
    border-radius: 7px;
    transition: all 0.3s;
  }
  #banner .slick-dots li button {
    height: 15px;
    width: 15px;
    border: 2px solid #4a35af;
    background: #4a35af;
    border-radius: 100%;
    color: transparent;
  }

  ck-active button {
    border: 2px solid #ffffff;
  }
  #banner ul {
    column-gap: 5px;
  }
  /*======================== banner end ========================*/
  /*======================== success start ========================*/
  #success .container {
    padding: 120px 24px 0;
  }

  #success .success_main {
    padding: 24px 12px;
    border-radius: 15px;
    display: flex;
    row-gap: 20px;
  }
  #success .success_main .left p {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0;
  }
  #success .success_main .left h2 {
    font-size: 29px;
    line-height: 30px;
  }
  #success .success_main .right {
    flex-direction: column;
    align-items: start;
    row-gap: 10px;
  }
  #success .success_main .right div {
    row-gap: 0px;
    align-items: start;
  }
  #success .success_main .right h2 {
    font-size: 24px;
    line-height: 20px;
  }
  /*======================== success end ========================*/
  /*======================== service start ========================*/
  #service .container {
    padding: 70px 12px 0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  #service .container .service_box {
    justify-content: center;
  }
  #service .container .service_box .service_card {
    padding: 40px 12px 10px;
    row-gap: 10px;
    border: 1px solid #4a35af1d;
    margin: 0 12px;
  }

  /*======================== service end ========================*/
  /*======================== work start ========================*/
  #work .container {
    padding: 120px 24px 0;
    row-gap: 20px;
  }
  #work .container .work_box .img img {
    width: 100%;
    height: auto;
  }
  #work .container .work_box .heading {
    font-size: 16px;
    line-height: 16px;
  }
  #work .container .work_box .work_card {
    padding: 20px 10px 5px;
    row-gap: 16px;
    border: 1px solid #4935af1d;
  }
  /*======================== work end ========================*/
  /*======================== idea start ========================*/
  /* #ideas{
    background: url(/images/ideas.jpg) no-repeat center / cover
  } */
  #ideas .container {
    padding: 120px 24px 0;
    row-gap: 20px;
  }
  #ideas .container .row {
    row-gap: 36px;
  }
  #ideas .container .idea_box {
    row-gap: 36px;
  }
  #ideas .container .idea_left_image {
    display: none !important;
  }
  #ideas .container .idea_card .text {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    align-items: flex-start;
  }
  #ideas .container .down {
    text-align: end;
  }
  #ideas .container .down .text {
    align-items: flex-end;
    text-align: end;
  }
  #ideas .container .down .title {
    text-align: end;
  }
  /*======================== idea end ========================*/
  /*======================== review start ========================*/
  #review .container {
    padding: 120px 24px 0;
    row-gap: 20px;
  }
  #review .container .review_card {
    row-gap: 8px;
    padding: 12px;
    border-radius: 10px;
  }
  #review .container .review_card p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7b7b7b;
    margin: 0 !important;
  }
  #review .container .review_card .icon {
    font-size: 12px;
    column-gap: 3px;
  }
  #review ul {
    display: flex !important;
    position: absolute;
    justify-content: space-between;
    top: 105%;
    left: 50%;
    transform: translateX(-50%) !important;
    transform: translateY(-100%);
    /* column-gap: 10px; */
    padding: 0 12px;
    width: 100%;
  }
  #review .slick-dots li {
    width: 23%;
  }
  #review .slick-dots li button {
    height: 8px;
    width: 100%;
    border: none;
    background: #4a35af;
    border-radius: 3px;
    color: transparent;
  }

  #review .slick-dots li.slick-active button {
    background: #4a35af2d;
  }

  #review .container .slick-center {
    background: #f4efef;
    border-radius: 10px;
  }

  /*======================== review end ========================*/
  /*======================== contact start ========================*/
  #contact {
    background: #f3f3f3;
    margin-top: 120px;
  }
  #contact .container {
    padding: 28px 12px;
    display: flex;
    align-items: center;
  }
  #contact .container form {
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 30px 12px 24px;
  }
  #contact .container form .form_input {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  #contact .container form input {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }
  #contact .container form p {
    font-weight: 500;
    font-size: 16px;
    line-height: 12px;
    color: #151515;
  }
  /*======================== contact end ========================*/
  /*======================== footer start ========================*/
  footer .container {
    padding: 40px 12px 0px;
    flex-direction: column;
    row-gap: 40px;
  }
  footer .container .footer_main_ul {
    flex-direction: column;
    width: 100%;
  }
  footer .container ul h2 {
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: start;
    color: #151515;
  }
  footer .container .footer_list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
  footer .container .footer_list .title {
    padding: 0;
    line-height: 24px;
    color: #7b7b7b;
  }
  footer .container .footer_main_ul {
    flex-direction: column;
    width: 100%;
    row-gap: 30px;
  }
  footer .container .footer_list .title {
    text-align: left;
  }
  footer .copyright .title {
    padding: 16px 0;
  }
  /*======================== footer end ========================*/
}
@media (min-width: 576px) and (max-width: 767.99px) {
  .heading {
    font-size: 35px;
    line-height: 35px;
  }
  .title {
    font-size: 14px;
    line-height: 24px;
  }

  /* =====================navbar start===================== */
  .navbar-nav {
    background: #2e2462e2;
    padding: 0 12px;
  }
  /* =====================navbar end===================== */
  /*======================== banner start ========================*/
  .banner_container h1 {
    width: auto;
    padding-bottom: 4px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
    text-align: center;
  }
  .banner_container p {
    width: auto;
    padding: 20px 0;
    margin: 0 auto;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
  }
  .banner_container {
    max-width: 1340px;
    padding: 130px 12px 75px;
    margin: 0 auto;
    text-align: center;
  }
  .banner_container a {
    display: inline-block;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    color: #ffffff;
    background-color: #6a4df4;
    border-radius: 7px;
    transition: all 0.3s;
  }
  #banner .slick-dots li button {
    height: 15px;
    width: 15px;
    border: 2px solid #4a35af;
    background: #4a35af;
    border-radius: 100%;
    color: transparent;
  }

  ck-active button {
    border: 2px solid #ffffff;
  }
  #banner ul {
    column-gap: 5px;
  }
  /*======================== banner end ========================*/
  /*======================== success start ========================*/
  #success .container {
    padding: 120px 24px 0;
  }

  #success .success_main {
    padding: 24px 12px;
    border-radius: 15px;
    display: flex;
    row-gap: 20px;
  }
  #success .success_main .left p {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0;
  }
  #success .success_main .left h2 {
    font-size: 29px;
    line-height: 30px;
  }
  #success .success_main .right {
    flex-direction: column;
    align-items: start;
    row-gap: 10px;
  }
  #success .success_main .right div {
    row-gap: 0px;
    align-items: start;
  }
  #success .success_main .right h2 {
    font-size: 24px;
    line-height: 20px;
  }
  /*======================== success end ========================*/
  /*======================== service start ========================*/
  #service .container {
    padding: 70px 12px 0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  #service .container .service_box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #service .container .service_box .service_card {
    padding: 40px 12px 10px;
    row-gap: 10px;
    border: 1px solid #4a35af1d;
    margin: 0 ;
  }

  /*======================== service end ========================*/
  /*======================== work start ========================*/
  #work .container {
    padding: 120px 24px 0;
    row-gap: 20px;
  }
  #work .container .work_box .img img {
    width: 100%;
    height: auto;
  }
  #work .container .work_box .heading {
    font-size: 16px;
    line-height: 16px;
  }
  #work .container .work_box .work_card {
    padding: 20px 10px 5px;
    row-gap: 16px;
    border: 1px solid #4935af1d;
  }
  /*======================== work end ========================*/
  /*======================== idea start ========================*/
  /* #ideas{
    background: url(/images/ideas.jpg) no-repeat center / cover
  } */
  #ideas .container {
    padding: 120px 24px 0;
    row-gap: 20px;
  }
  #ideas .container .row {
    row-gap: 36px;
  }
  #ideas .container .idea_box {
    row-gap: 36px;
  }
  #ideas .container .idea_left_image {
    display: none !important;
  }
  #ideas .container .idea_card .text {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    align-items: flex-start;
  }
  #ideas .container .down {
    text-align: end;
  }
  #ideas .container .down .text {
    align-items: flex-end;
    text-align: end;
  }
  #ideas .container .down .title {
    text-align: end;
  }
  /*======================== idea end ========================*/
  /*======================== review start ========================*/
  #review .container {
    padding: 120px 24px 0;
    row-gap: 20px;
  }
  #review .container .review_card {
    row-gap: 8px;
    padding: 12px;
    border-radius: 10px;
  }
  #review .container .review_card p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7b7b7b;
    margin: 0 !important;
  }
  #review .container .review_card .icon {
    font-size: 12px;
    column-gap: 3px;
  }
  #review .container .fa-angle-left {
    position: absolute;
    left: auto;
    top: auto;
    transform: translate(0%, -50%);
    z-index: 9999;
    bottom: 0;
    right: 20%;
  }
  #review .container .fa-angle-right {
    position: absolute;
    top: auto; 
    transform: translate(0%, -50%);
    z-index: 9999;
    bottom: 0;
    right: 7%;
  }


  /*======================== review end ========================*/
  /*======================== contact start ========================*/
  #contact  {
    background: #f3f3f3;
    margin-top: 120px;
  }
  #contact .container {
    padding: 28px 12px;
    display: flex;
    align-items: center;
  }
  #contact .container form {
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 30px 12px 24px;
  }
  #contact .container form .form_input {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  #contact .container form input {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }
  #contact .container form p {
    font-weight: 500;
    font-size: 16px;
    line-height: 12px;
    color: #151515;
  }
  /*======================== contact end ========================*/
  /*======================== footer start ========================*/
  footer .container {
    padding: 40px 12px 0px;
    flex-direction: column;
    row-gap: 40px;
  }
  footer .container .footer_main_ul {
    flex-direction: column;
    width: 100%;
  }
  footer .container ul h2 {
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: start;
    color: #151515;
  }
  footer .container .footer_list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
  footer .container .footer_list .title {
    padding: 0;
    line-height: 24px;
    color: #7b7b7b;
  }
  footer .container .footer_main_ul {
    flex-direction: row;
    width: 100%;
    row-gap: 48px;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 0;
  }
  footer .container .footer_list .title {
    text-align: left;
  }
  footer .copyright .title {
    padding: 16px 0;
  }
  /*======================== footer end ========================*/
}
@media (min-width: 768px) and (max-width: 991.99px) {
  .heading {
    font-size: 33px;
    line-height: 35px;
  }
  .title {
    font-size: 14px;
    line-height: 24px;
  }

  /* =====================navbar start===================== */
  .navbar-nav {
    background: #2e2462e2;
    padding: 0 12px;
  }
  /* =====================navbar end===================== */
  /*======================== banner start ========================*/
  .banner_container h1 {
    width: auto;
    padding-bottom: 4px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
    text-align: center;
  }
  .banner_container p {
    padding: 20px 0;
    margin: 0 auto;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
  }
  .banner_container {
    max-width: 1340px;
    padding: 130px 12px 75px;
    margin: 0 auto;
    text-align: center;
  }
  .banner_container a {
    display: inline-block;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    color: #ffffff;
    background-color: #6a4df4;
    border-radius: 7px;
    transition: all 0.3s;
  }
  #banner .slick-dots li button {
    height: 15px;
    width: 15px;
    border: 2px solid #4a35af;
    background: #4a35af;
    border-radius: 100%;
    color: transparent;
  }

  #banner .slick-active button {
    border: 2px solid #ffffff;
  }
  #banner ul {
    column-gap: 5px;
  }
  /*======================== banner end ========================*/
  /*======================== success start ========================*/
  #success .container {
    padding: 120px 24px 0;
  }

  #success .success_main {
    padding: 24px 12px;
    border-radius: 15px;
    display: flex;
    row-gap: 20px;
  }
  #success .success_main .left p {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0;
  }
  #success .success_main .left h2 {
    font-size: 29px;
    line-height: 30px;
  }
  #success .success_main .right {
    flex-direction: row;
    align-items: start;
    row-gap: 10px;
  }
  #success .success_main .right div {
    row-gap: 0px;
    align-items: start;
  }
  #success .success_main .right h2 {
    font-size: 24px;
    line-height: 20px;
  }
  /*======================== success end ========================*/
  /*======================== service start ========================*/
  #service .container {
    padding: 70px 12px 0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  #service .container .service_box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #service .container .service_box .service_card {
    padding: 40px 12px 10px;
    row-gap: 10px;
    border: 1px solid #4a35af1d;
    margin: 0 ;
  }

  /*======================== service end ========================*/
  /*======================== work start ========================*/
  #work .container {
    padding: 120px 24px 0;
    row-gap: 20px;
  }
  #work .container .work_box .img img {
    width: 100%;
    height: auto;
  }
  #work .container .work_box .heading {
    font-size: 16px;
    line-height: 16px;
  }
  #work .container .work_box .work_card {
    padding: 20px 10px 5px;
    row-gap: 16px;
    border: none;
  }
  .idea_left_image{
    display: none !important;
  }
  /*======================== work end ========================*/
  /*======================== idea start ========================*/
  /* #ideas{
    background: url(/images/ideas.jpg) no-repeat center / cover
  } */
  #ideas .container {
    padding: 120px 24px 0;
    row-gap: 20px;
  }
  #ideas .container .row {
    row-gap: 36px;
  }
  #ideas .container .idea_box {
    row-gap: 36px;
  }
  #ideas .container .idea_left_image {
    display: none !important;
  }
  #ideas .container .idea_card .text {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    align-items: flex-start;
  }
  #ideas .container .down {
    text-align: end;
  }
  #ideas .container .down .text {
    align-items: flex-end;
    text-align: end;
  }
  #ideas .container .down .title {
    text-align: end;
  }
  /*======================== idea end ========================*/
  /*======================== review start ========================*/
  #review .container {
    padding: 120px 24px 0;
    row-gap: 20px;
  }
  #review .container .review_card {
    row-gap: 8px;
    padding: 12px;
    border-radius: 10px;
  }
  #review .container .review_card p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7b7b7b;
    margin: 0 !important;
  }
  #review .container .review_card .icon {
    font-size: 12px;
    column-gap: 3px;
  }
  #review .container .fa-angle-left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    z-index: 9999;
  }
  #review .container .fa-angle-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
    z-index: 9999;
  }


  /*======================== review end ========================*/
  /*======================== contact start ========================*/
  #contact  {
    background: #f3f3f3;
    margin-top: 120px;
  }
  #contact .container {
    padding: 28px 12px;
    display: flex;
    align-items: center;
  }
  #contact .container form {
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 30px 12px 24px;
  }
  #contact .container form .form_input {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  #contact .container form input {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }
  #contact .container form p {
    font-weight: 500;
    font-size: 16px;
    line-height: 12px;
    color: #151515;
  }
  /*======================== contact end ========================*/
  /*======================== footer start ========================*/
  footer .container {
    padding: 40px 12px 0px;
    flex-direction: column;
    row-gap: 40px;
    align-items: flex-start;
  }
  footer .container .footer_main_ul {
    flex-direction: column;
    width: 100%;
  }
  footer .container ul h2 {
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: start;
    color: #151515;
  }
  footer .container .footer_list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
  footer .container .footer_list .title {
    padding: 0;
    line-height: 24px;
    color: #7b7b7b;
  }
  footer .container .footer_main_ul {
    flex-direction: row;
    width: 100%;
    row-gap: 48px;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 0;
  }
  footer .container .footer_list .title {
    text-align: left;
  }
  footer .copyright .title {
    padding: 16px 0;
  }
  /*======================== footer end ========================*/
}
@media (min-width: 992px) and (max-width: 1199.99px) {
  .heading {
    font-size: 33px;
    line-height: 35px;
  }
  .title {
    font-size: 14px;
    line-height: 24px;
  }

  /* =====================navbar start===================== */
  .navbar-nav {
    padding: 0 12px;
  }
  /* =====================navbar end===================== */
  /*======================== banner start ========================*/
  .banner_container h1 {
    width: auto;
    padding-bottom: 4px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
    text-align: center;
  }
  .banner_container p {
    padding: 20px 0;
    margin: 0 auto;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
  }
  .banner_container {
    max-width: 1340px;
    padding: 130px 12px 75px;
    margin: 0 auto;
    text-align: center;
  }
  .banner_container a {
    display: inline-block;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    color: #ffffff;
    background-color: #6a4df4;
    border-radius: 7px;
    transition: all 0.3s;
  }
  #banner .slick-dots li button {
    height: 15px;
    width: 15px;
    border: 2px solid #4a35af;
    background: #4a35af;
    border-radius: 100%;
    color: transparent;
  }

   #banner .slick-active button {
    border: 2px solid #ffffff;
  }
  #banner ul {
    column-gap: 5px;
  }
  /*======================== banner end ========================*/
  /*======================== success start ========================*/
  #success .container {
    padding: 120px 24px 0;
  }

  #success .success_main {
    padding: 24px 12px;
    border-radius: 15px;
    display: flex;
    row-gap: 20px;
  }
  #success .success_main .left p {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0;
  }
  #success .success_main .left h2 {
    font-size: 29px;
    line-height: 30px;
  }
  #success .success_main .right {
    flex-direction: row;
    align-items: center;
    row-gap: 10px;
  }
  #success .success_main .right div {
    row-gap: 0px;
    align-items: start;
  }
  #success .success_main .right h2 {
    font-size: 24px;
    line-height: 20px;
  }
  /*======================== success end ========================*/
  /*======================== service start ========================*/
  #service .container {
    padding: 70px 12px 0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  #service .container .service_box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #service .container .service_box .service_card {
    padding: 40px 12px 10px;
    row-gap: 10px;
    margin: 0 ;
  }
  
  #service .container .service_box .service_card:hover {
    border: 1px solid #2b00ff1d ;
  }

  /*======================== service end ========================*/
  /*======================== work start ========================*/
  #work .container {
    padding: 120px 24px 0;
    row-gap: 20px;
  }
  #work .container .work_box .img img {
    width: 100%;
    height: auto;
  }
  #work .container .work_box .heading {
    font-size: 16px;
    line-height: 16px;
  }
  #work .container .work_box .work_card {
    padding: 20px 10px 5px;
    row-gap: 16px;
    border: none;
  }
  /*======================== work end ========================*/
  /*======================== idea start ========================*/


  #ideas .container {
    padding-top: 171px;
    display: flex;
    flex-direction: column;
    row-gap: 90px;
  }
  
  #ideas .container .row {
    display: flex;
    justify-content: space-between;
    /* column-gap: 50px; */
  }
  
  #ideas .container .idea_box .heading {
    font-size: 25px;
    line-height: 30px;
    margin: 0;
    text-align: start;
  }
  
  #ideas .container .idea_box .title {
    margin: 0;
    text-align: left;
    padding: 0;
  }
  
  #ideas .container .idea_box {
    display: flex;
    flex-direction: column;
    row-gap: 90px;
  }
  
  #ideas .container .idea_card {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  
  #ideas .container .idea_card .text {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
  }

  #ideas .container .idea_left_image{
    display: flex;
  }




  /*======================== idea end ========================*/
  /*======================== review start ========================*/
  #review .container {
    padding: 120px 24px 0;
    row-gap: 20px;
  }
  #review .container .review_card {
    row-gap: 8px;
    padding: 12px;
    border-radius: 10px;
  }
  #review .container .review_card p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7b7b7b;
    margin: 0 !important;
  }
  #review .container .review_card .icon {
    font-size: 12px;
    column-gap: 3px;
  }
  #review .container .fa-angle-left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    z-index: 9999;
  }
  #review .container .fa-angle-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
    z-index: 9999;
  }


  /*======================== review end ========================*/
  /*======================== contact start ========================*/
  #contact  {
    background: #f3f3f3;
    margin-top: 120px;
  }
  #contact .container {
    padding: 28px 12px;
    display: flex;
    align-items: center;
  }
  #contact .container form {
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 30px 12px 24px;
  }
  #contact .container form .form_input {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  #contact .container form input {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }
  #contact .container form p {
    font-weight: 500;
    font-size: 16px;
    line-height: 12px;
    color: #151515;
  }
  /*======================== contact end ========================*/
  /*======================== footer start ========================*/
  footer .container {
    padding: 40px 12px 0px;
    flex-direction: column;
    row-gap: 40px;
    align-items: flex-start;
  }
  footer .container .footer_main_ul {
    flex-direction: column;
    width: 100%;
  }
  footer .container ul h2 {
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: start;
    color: #151515;
  }
  footer .container .footer_list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
  footer .container .footer_list .title {
    padding: 0;
    line-height: 24px;
    color: #7b7b7b;
  }
  footer .container .footer_main_ul {
    flex-direction: row;
    width: 100%;
    row-gap: 48px;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 0;
  }
  footer .container .footer_list .title {
    text-align: left;
  }
  footer .copyright .title {
    padding: 16px 0;
  }
  /*======================== footer end ========================*/
}
@media (min-width: 1200px) and (max-width: 1399.99px) {
  .heading {
    font-size: 33px;
    line-height: 35px;
  }
  .title {
    font-size: 14px;
    line-height: 24px;
  }

  /* =====================navbar start===================== */
  .navbar-nav {
    padding: 0 12px;
  }
  /* =====================navbar end===================== */
  /*======================== banner start ========================*/
  .banner_container h1 {
    padding-bottom: 4px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
    text-align: center;
  }
  .banner_container p {
    padding: 20px 0;
    margin: 0 auto;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
  }
  .banner_container {
    max-width: 1340px;
    padding: 130px 12px 75px;
    margin: 0 auto;
    text-align: center;
  }
  .banner_container a {
    display: inline-block;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    color: #ffffff;
    background-color: #6a4df4;
    border-radius: 7px;
    transition: all 0.3s;
  }
  #banner .slick-dots li button {
    height: 15px;
    width: 15px;
    border: 2px solid #4a35af;
    background: #4a35af;
    border-radius: 100%;
    color: transparent;
  }

  ck-active button {
    border: 2px solid #ffffff;
  }
  #banner ul {
    column-gap: 5px;
  }
  /*======================== banner end ========================*/
  /*======================== success start ========================*/
  #success .container {
    padding: 120px 24px 0;
  }

  #success .success_main {
    padding: 24px 12px;
    border-radius: 15px;
    display: flex;
    row-gap: 20px;
  }
  #success .success_main .left p {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0;
  }
  #success .success_main .left h2 {
    font-size: 29px;
    line-height: 30px;
  }
  #success .success_main .right {
    flex-direction: row;
    align-items: center;
    row-gap: 10px;
  }
  #success .success_main .right div {
    row-gap: 0px;
    align-items: start;
  }
  #success .success_main .right h2 {
    font-size: 24px;
    line-height: 20px;
  }
  /*======================== success end ========================*/
  /*======================== service start ========================*/
  #service .container {
    padding: 70px 12px 0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  #service .container .service_box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #service .container .service_box .service_card {
    padding: 40px 12px 10px;
    row-gap: 10px;
    margin: 0 ;
  }
  
  #service .container .service_box .service_card:hover {
    border: 1px solid #2b00ff1d ;
  }

  /*======================== service end ========================*/
  /*======================== work start ========================*/
  #work .container {
    padding: 120px 24px 0;
    row-gap: 20px;
  }
  #work .container .work_box .img img {
    width: 100%;
    height: auto;
  }
  #work .container .work_box .heading {
    font-size: 16px;
    line-height: 16px;
  }
  #work .container .work_box .work_card {
    padding: 20px 10px 5px;
    row-gap: 16px;
    border: none;
  }
  /*======================== work end ========================*/
  /*======================== idea start ========================*/


  #ideas .container {
    padding-top: 171px;
    display: flex;
    flex-direction: column;
    row-gap: 90px;
  }
  
  #ideas .container .row {
    display: flex;
    justify-content: space-between;
  }
  
  #ideas .container .idea_box .heading {
    font-size: 25px;
    line-height: 30px;
    margin: 0;
    text-align: start;
  }
  
  #ideas .container .idea_box .title {
    margin: 0;
    text-align: left;
    padding: 0;
  }
  
  #ideas .container .idea_box {
    display: flex;
    flex-direction: column;
    row-gap: 90px;
  }
  
  #ideas .container .idea_card {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  
  #ideas .container .idea_card .text {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
  }

  #ideas .container .idea_left_image {
    display: flex !important;
    justify-content: end !important;
  }


  /*======================== idea end ========================*/
  /*======================== review start ========================*/
  #review .container {
    padding: 120px 24px 0;
    row-gap: 20px;
  }
  #review .container .review_card {
    row-gap: 8px;
    padding: 12px;
    border-radius: 10px;
  }
  #review .container .review_card p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7b7b7b;
    margin: 0 !important;
  }
  #review .container .review_card .icon {
    font-size: 12px;
    column-gap: 3px;
  }
  #review .container .fa-angle-left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    z-index: 9999;
  }
  #review .container .fa-angle-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
    z-index: 9999;
  }


  /*======================== review end ========================*/
  /*======================== contact start ========================*/
  #contact  {
    background: #f3f3f3;
    margin-top: 120px;
  }
  #contact .container {
    padding: 28px 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly !important;
  }
  #contact .container .row{
    justify-content: space-between;
  }
  #contact .container form {
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 30px 12px 24px;
  }
  #contact .container form .form_input {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  #contact .container form input {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }
  #contact .container form p {
    font-weight: 500;
    font-size: 16px;
    line-height: 12px;
    color: #151515;
  }
  /*======================== contact end ========================*/
  /*======================== footer start ========================*/
  footer .container {
    padding: 40px 12px 0px;
    flex-direction: column;
    row-gap: 40px;
    align-items: flex-start;
  }
  footer .container .footer_main_ul {
    flex-direction: column;
    width: 100%;
  }
  footer .container ul h2 {
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: start;
    color: #151515;
  }
  footer .container .footer_list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
  footer .container .footer_list .title {
    padding: 0;
    line-height: 24px;
    color: #7b7b7b;
  }
  footer .container .footer_main_ul {
    flex-direction: row;
    width: 100%;
    row-gap: 48px;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 0;
  }
  footer .container .footer_list .title {
    text-align: left;
  }
  footer .copyright .title {
    padding: 16px 0;
  }
  /*======================== footer end ========================*/
}